.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

.shoppingListTile {
  background-color: #1a1a30;
}

.accepted {
  border: green solid 3px;
}

.error {
  border: red solid 3px;
}